<!-- 
  Base Skeleton for all Layouts 
  
  (c) UBCO Video Game Development Club
-->

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ '/stylesheets/default.css' }}" />
  </head>
  <body>
    <header>
      <nav id="navbar">
        <a href="/about">About</a>
        <a href="/events">Events</a>
        <a href="/"><img src="/assets/img/logo-white-transparent.png" height="80" /></a>
        <a href="/games">Games</a>
        <a href="/merch">Merch</a>
      </nav>
    </header>
    <main>
      <!-- Unique page content goes here -->
      {{ content }}
    </main>
    <!-- TODO: implement footer -->
    <footer>
      <address>
        <!-- Contact information -->
        <!-- <a href="mailto:ubcovgdc@gmail.com">ubcovgdc@gmail.com</a><br />
        <a href="https://github.com/ubco-video-game-development-club">Github</a> -->
      </address>
    </footer>
  </body>
</html>

<script>
  (function () {
    console.log(location.pathname.split('/'));
    var pageName = location.pathname.split('/')[1];
    if (pageName === '') return; // remove if main page desired
    var navItems = document.querySelectorAll('#navbar a');
    for (var i = 0, len = navItems.length; i < len; i++) {
      // With main page
      // var navPath = navItems[i].getAttribute('href');
      // if ((navPath.indexOf(pageName) !== -1 && pageName.length > 0) || (navPath === '/' && pageName.length === 0)) {
      //   navItems[i].classList.add('active');
      // }
      // Without main page
      if (navItems[i].getAttribute('href').indexOf(pageName) !== -1) {
        navItems[i].classList.add('active');
      }
    }
  })();
</script>
