<!-- 
  Base Skeleton for all Layouts 
  
  (c) UBCO Video Game Development Club
-->

<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
  </head>
  <body>
    <header>
      <h1>The UBCO Video Game Development Club</h1>
      <nav>
        <ul>
          <li>
            <a href="#">About</a>
          </li>
          <li>
            <a href="#">Games</a>
          </li>
          <li>
            <a href="#">Contact</a>
          </li>
        </ul>
      </nav>
    </header>
    <main>
      <!-- Unique page content goes here -->
      {{ content }}
    </main>
    <footer>
      <address>
        <!-- Contact information -->
        <a href="#">ubcovgdc [at] gmail [dot] com</a>
        <a href="#">Github</a>
        <a href="#">Discord</a>
      </address>
    </footer>
  </body>
</html>
